<nav role="navigation" aria-label="Categorías de productos">
  <ul class="secondary-nav">
    <li>
      <a href="/pages/guitar.html" aria-label="Guitarras"
        ><img
          src="../assets/images/iconos/iconGuitarra.png"
          alt="Icono guitarra"
          width="24"
          height="24"
        />
        Guitarras</a
      >
    </li>
    <li>
      <a href="/pages/index.html#bajos" aria-label="Bajos"
        ><img
          src="../assets/images/iconos/iconBajo.png"
          alt="Icono bajo"
          width="24"
          height="24"
        />
        Bajos</a
      >
    </li>
    <li>
      <a href="/pages/drums.html" aria-label="Baterías"
        ><img
          src="../assets/images/iconos/iconBateria.png"
          alt="Icono batería"
          width="24"
          height="24"
        />
        Baterías</a
      >
    </li>
    <li>
      <a href="/pages/keyboard.html" aria-label="Teclados"
        ><img
          src="../assets/images/iconos/iconTeclado.png"
          alt="Icono teclado"
          width="24"
          height="24"
        />
        Teclados</a
      >
    </li>
    <li>
      <a href="/pages/index.html#saxofon" aria-label="Saxofones"
        ><img
          src="../assets/images/iconos/iconSaxo.png"
          alt="Icono saxofón"
          width="24"
          height="24"
        />
        Saxofones</a
      >
    </li>
    <li>
      <a href="/pages/index.html#flautas" aria-label="Flautas"
        ><img
          src="../assets/images/iconos/iconFlauta.png"
          alt="Icono flauta"
          width="24"
          height="24"
        />
        Flautas</a
      >
    </li>
    <li>
      <a href="/pages/index.html#trompetas" aria-label="Trompetas"
        ><img
          src="../assets/images/iconos/iconTrompeta.png"
          alt="Icono trompeta"
          width="24"
          height="24"
        />
        Trompetas</a
      >
    </li>
    <li>
      <a href="/pages/index.html#altavoces" aria-label="Altavoces"
        ><img
          src="../assets/images/iconos/iconAltavoz.png"
          alt="Icono altavoz"
          width="24"
          height="24"
        />
        Altavoces</a
      >
    </li>
    <li>
      <a href="/pages/index.html#mesas" aria-label="Mesas de mezcla"
        ><img
          src="../assets/images/iconos/iconMesa.png"
          alt="Icono mesa de mezcla"
          width="24"
          height="24"
        />
        Mesas de mezcla</a
      >
    </li>
  </ul>
</nav>
