<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>RiffZone Music Store -Servicios</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="/src/css/styles.css" />
    <link rel="stylesheet" href="/src/css/service-barra.css" />
  </head>
  <body>
    <div
      class="offcanvas offcanvas-start"
      tabindex="-1"
      id="offcanvasServicios"
      aria-labelledby="menuLateralLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="menuLateralLabel">Servicios</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Cerrar"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul class="list-unstyled menu-lateral">
          <li>
            <a href="../pages/contact.html"
              ><i class="bi bi-envelope"></i>Contacto</a
            >
          </li>
          <li>
            <a href="#"><i class="bi bi-newspaper"></i>Newsletter</a>
          </li>
          <li>
            <a href="#"><i class="bi bi-play-circle"></i>Media</a>
          </li>
          <li>
            <a href="#"
              ><i class="bi bi-question-circle"></i>Preguntas Frecuentes</a
            >
          </li>
        </ul>
      </div>
      <!-- pre-Footer barra-->
      <div class="pre-footer-barra" aria-label="Redes sociales">
        <h3>Síguenos</h3>
        <nav aria-label="Redes sociales">
          <ul class="social-links">
            <li>
              <a
                href="https://www.facebook.com/profile.php?id=61577710023966&locale=es_ES"
                target="_blank"
                rel="noopener"
                aria-label="Facebook"
              >
                <img
                  src="../assets/images/RedesSocialesIcons/logofacebook.png"
                  alt="Facebook"
              /></a>
            </li>
            <li>
              <a
                href="https://x.com/RiffzoneMStore"
                aria-label="Twitter"
                target="_blank"
                rel="noopener"
              >
                <img
                  src="../assets/images/RedesSocialesIcons/logotwitter.png"
                  alt="Twitter"
              /></a>
            </li>
            <li>
              <a
                href="https://www.instagram.com/riffzone_music_store/"
                target="_blank"
                rel="noopener"
                aria-label="Instagram"
              >
                <img
                  src="../assets/images/RedesSocialesIcons/logoinstagram.png"
                  alt="Instagram"
              /></a>
            </li>
            <li>
              <a
                href="https://www.youtube.com/@RiffZoneMusicStore"
                target="_blank"
                rel="noopener"
                aria-label="YouTube"
              >
                <img
                  src="../assets/images/RedesSocialesIcons/logoyoutube.png"
                  alt="YouTube"
              /></a>
            </li>
          </ul>
        </nav>
      </div>
      <!-- Footer barra-->
      <footer
        class="footer"
        role="contentinfo"
        aria-label="Pie de página principal del sitio"
      >
        <div class="footer-contenedor-barra">
          <!--nombre -->
          <div class="footer-barra-logo" aria-label=" nombre del sitio">
            <span>RiffZone Music Store</span>
          </div>
          <!-- Texto de derechos -->
          <div class="footer-derechos-barra">
            <small
              >&copy; 2025 RiffZone Music Store. Todos los derechos
              reservados.</small
            >
          </div>
        </div>
      </footer>
    </div>
    <main></main>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../js/auth.js"></script>
    <!-- <script src="../js/app.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="../js/contact.js"></script>
    <script src="../js/cart.js"></script>
    <script src="../js/login.js"></script>
    <script src="../js/service.js"></script>
    <script src="../js/loadComponents.js"></script>
  </body>
</html>
