/*reset css*/
reset {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Estilo para el header con imagen de fondo */

/* Overlay para mejorar el contraste */

/* Centrar el contenido del header */

/* Estilo para el logo de RaiRock */

/* Efecto hover con zoom para los íconos de la barra de navegación secundaria */

/* Estilo para las flechas del carrusel */

/* Estilo para los indicadores del carrusel */

/* Asegurar que el botón de iniciar sesión esté alineado correctamente */

/* Ajustes para pantallas pequeñas */

/* Estilo para el texto "RaiRock Music Store" */

/* Ajustar el tamaño del carrusel */

/* Hover redes sociales */